<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Events ECAIB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inici<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tipus d'events</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacte<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="scrumprogres.html">Progrés<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Estat<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<script id="equipos_template" type="text/x-handlebars-template">
    <h1>Equipos</h1>
    <a href="#" class="add btn btn-primary">Add</a>
    <table>
        <thead>
        <tr>
            <th>
                team_id
            </th>
            <th>
                team_name
            </th>
            <th>
                grade_name
            </th>
        </tr>
        </thead>

        <tbody>
        {{for equipos}}
        <tr>
            <td class="align-middle">
                <a href="#!/equipos/{{:team_id}}">{{:team_name}}</a>
            </td>
            <td class="align-middle">
                {{grade_name}}
            </td>
            <td>
                {{:team_id}}
            </td>
            <td>
                <a href="#!/equipos/{{:team_id}}/delete" class="btn btn-danger delete">Delete</a>
                <a href="#!/equipos/{{:team_id}}/modify" class="btn btn-warning modify">Modify</a>

            </td>
        </tr>
        {{/for}}
        </tbody>
    </table>
</script>

<script id="team_template" type="text/x-handlebars-template">
    <div class="container">
        <li>Nombre: {{:team_name}}</li>
        <ul>
            <li>Equipo: {{:team_id}}</li>
            <li>Curso: {{:grade_name}}</li>
        </ul>
    </div>
</script>


<script id="player_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>{{:first_name}} {{:last_name}}</h1>
        <ul>
            <li>Cumpleaños: {{:player_birth}}</li>
            <li>Email: {{:email}}</li>
            <li>Equipo: {{:team_name}}</li>
        </ul>
    </div>
</script>

<script id="add_equipo_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Add Equipos </h1>

        <form action="">
            <label for="team_name">Nombre</label>
            <input type="text" name="team_name" id="team_name">

            <br>

            <label for="grade_name">Curso</label>
            <input type="text" name="grade_name" id="grade_name">

            <br>
            <button type="submit" class="btn btn-primary add-form-submit">
                Enviar
            </button>
        </form>
    </div>
</script>


<script id="modify_equipo_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Modify {{:id}} </h1>

        <form action="">
            <form action="">
                <label for="team_name">Nombre</label>
                <input type="text" name="team_name" id="team_name" value= {{:team_name}}>

                <br>

                <label for="grade_name">Curso</label>
                <input type="text" name="grade_name" id="grade_name" value={{:grade_name}}>

                <br>
                <button type="submit" class="btn btn-primary add-form-submit">
                    Enviar
                </button>
            </form>
        </form>
    </div>
</script>

<a class="Equipos" href="#!/equipos/:id">Equipo</a>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.1/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="//unpkg.com/navigo@6"></script>
<script>

    var root = null;
    var useHash = true;
    var hash = '#!';
    var router = new Navigo(root, useHash, hash);


    router
        .on('/', showequipos)
        .on('/equipos/add', addEquipo)
        .on('/equipos/:id', showequipo)
        .on('/equipos/:id/delete', deleteEquipo)
        .on('/equipos/:id/modify', modifyEquipo)
        .resolve();

    function showequipo(params) {

        $.getJSON("api/equipos/" + params.id, function (data) {
            var html = $("#equipo_template").render(data);

            $("#app").html(html);

        });
    }


    function deleteEquipo(params) {

        $.ajax({

            url: 'api/equipos/' + params.id,
            type: 'DELETE'
        }).then(function (result) {
            router.navigate('/');

        });

    }

    function modifyFormSubmit(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        var button = $("form > button");
        var id = button.data("id");
        $.post("api/equipos/" + id, data, function (result) {
            router.navigate('/');


        })

    }




    function modifyEquipo(params) {

        $.getJSON("api/equipos/" + params.id, function (data) {
            var html = $("#modify_equipo_template").render(data);
            $("#app").html(html);
            $(".modify-form-submit").on("click", modifyFormSubmit);


        });

    }

    function addFormSubmit(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        console.log(data);
        $.post("api/equipos/", data, function (result) {
            router.navigate('/');

        })

    }





    function addEquipo() {

        var html = $("#add_equipo_template").render();

        $("#app").html(html);

        $(".add-form-submit").on("click", addFormSubmit);

    }




    function showequipos() {
        $.getJSON("api/equipos/", function (data) {
            var html = $("#equipos_template").render(data);
            $("#app").html(html);




        });
    }




</script>
</body>
</html>