body{
    background-color: bisque;
}
.container{
    background-color: white;
    width:100%;
}
/* Estilo para los input=text, select y textarea */
input[type=text], select, textarea {
    width: 99%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
/* Estilo para el botón de Enviar*/
input[type=submit] {
    background-color: dimgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Color del botón de enviar al pasar el ratón por encima*/
input[type=submit]:hover {
    background-color: darkslategrey;
}
/* Color de Fondo y Padding para el formulario */
.form {
    color: white;
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}

/* Estilo para la cabecera "tipos de torneo"*/
.cabecera{
    color: gray;
    height: 300px;
    background: url('http://www.supporters-art.com/bilder/produkte/gross/Karofahne-Schwarz-Rot.jpg')-60px -250px;
    background-size: 110%;
}
/* Estilo para el cuerpo "tipos de torneo"*/
.cos{
    padding-top: 20px;
}
/* Estilo para textos "tipos de torneo"*/
.rei,.torneig,.lliga{
    padding: 20px 0px 20px 0px;
}
/* Estilo para las imagenes info "tipos de torneo"*/
.imgrei{
    height: 250px;
    width: 250px;
    float: right;

    background-image: url('https://www.capitanchapa.com/69-large_default/el-rey-de-la-pista.jpg');
    background-size: cover;
    background-position: center;
}
.imgtor{
    height: 250px;
    width: 500px;
    float: left;

    background-image: url('http://files.torneosyfutbol-com.webnode.es/200000008-e8bafe9b41/TORNEOS.jpg');
    background-size: cover;
    background-position: center;
}
/* Estilo para las imgenes finales "tipos de torneo"*/
.imglli,.imglli1,.imglli2,.imglli3 {
    height: 230px;
    width: 232px;
    padding-right: 10px;
    float: left;
}
.imglli,.imglli3{
    background-image: url('https://png.pngtree.com/element_origin_min_pic/16/07/12/165784abfb68c24.jpg');
    background-size: cover;
    background-position: center;
}
.imglli1,.imglli2{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcc3efiVBMHS8k5Sqd4e_KdKOBlv2rZbjOjTlxoY2Qbd3RX8r3vA");
    background-size: cover;
    background-position: center;
}
/* Estilo para el footer "tipos de torneo"*/
footer{
    padding: 20px;
    margin-top: 220px;
    color: #fff;
    background-color: gray;
    text-align: center;
}
